<center>
  <form method="POST" action="http://34.72.0.129:8081/">
    <table>
      <tr>
        <td>
          Name
        </td>
        <td>
          <input type="text" name="name" />
        </td>
      </tr>
      <tr>
        <td>
          Total Coins
        </td>
        <td>
          <input type="int" name="coins" />
        </td>
      </tr>    
      <tr align="center">
        <td align="center">
            <input type="submit" /> 
        </td>
      </tr>  
    </table>
  </form>
</center>
